{
  "openapi": "3.0.0",
  "info": {
    "title": "utm.one API",
    "version": "1.0.0",
    "description": "utm.one API for link shortening, UTM management, and analytics",
    "contact": {
      "name": "utm.one Support",
      "email": "support@utm.one",
      "url": "https://utm.one"
    }
  },
  "servers": [
    {
      "url": "https://api.utm.one",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/links": {
      "get": {
        "summary": "List links",
        "description": "Get a paginated list of all links in your workspace",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create link",
        "description": "Create a new short link",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLinkRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Link created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Link"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{id}": {
      "get": {
        "summary": "Get link",
        "description": "Retrieve details of a specific link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Link"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update link",
        "description": "Update an existing link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Link"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete link",
        "description": "Delete a link permanently",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Link deleted"
          }
        }
      }
    },
    "/v1/links/{id}/analytics": {
      "get": {
        "summary": "Get link analytics",
        "description": "Retrieve analytics data for a specific link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["last-7-days", "last-30-days", "last-90-days", "all-time"],
              "default": "last-30-days"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Analytics"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/events": {
      "post": {
        "summary": "Track event",
        "description": "Track a conversion or custom event",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event tracked"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "Link": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "short_url": {
            "type": "string"
          },
          "destination_url": {
            "type": "string"
          },
          "final_url": {
            "type": "string"
          },
          "total_clicks": {
            "type": "integer"
          },
          "unique_clicks": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateLinkRequest": {
        "type": "object",
        "required": ["title", "destination_url"],
        "properties": {
          "title": {
            "type": "string"
          },
          "destination_url": {
            "type": "string",
            "format": "uri"
          },
          "slug": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "utm_source": {
            "type": "string"
          },
          "utm_medium": {
            "type": "string"
          },
          "utm_campaign": {
            "type": "string"
          },
          "utm_term": {
            "type": "string"
          },
          "utm_content": {
            "type": "string"
          }
        }
      },
      "UpdateLinkRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "destination_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Analytics": {
        "type": "object",
        "properties": {
          "total_clicks": {
            "type": "integer"
          },
          "unique_clicks": {
            "type": "integer"
          },
          "devices": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          },
          "countries": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          }
        }
      },
      "TrackEventRequest": {
        "type": "object",
        "required": ["link_id", "event_type"],
        "properties": {
          "link_id": {
            "type": "string",
            "format": "uuid"
          },
          "event_type": {
            "type": "string"
          },
          "event_value": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      }
    }
  }
}
